# Database Configuration
POSTGRES_DB=olist
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_PORT=5432

# Metabase Configuration
METABASE_PORT=3001
METABASE_DB_FILE=/metabase-data/metabase.db

# Grafana Configuration
GRAFANA_PORT=3000
GRAFANA_ADMIN_PASSWORD=admin

# RabbitMQ Configuration
RABBITMQ_USER=admin
RABBITMQ_PASS=admin123
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

# Prefect Configuration
PREFECT_API_URL=http://127.0.0.1:4200/api
PREFECT_PORT=4200

# Pipeline Configuration
LOG_LEVEL=INFO
