# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/profiles.yml

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data (Avoid committing large datasets)
data/*.zip
data/*.csv
!data/.gitkeep
